.app {
}
.header {
  background-color: black;
  width: 100%;
  padding: 5px;
}
.header-text {
  color: #fff;
  padding-left: 10px;
}
.body {
  padding: 30px;
}
.dollaricon span {
  background-color: #fff;
  border-right-color: #fff;
}
.amount {
  border-left-color: #fff;
}
.form-control {
  color: #000;
}
