.app {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}
.header {
  background-color: black;
  width: 100%;
  padding: 5px;
  position: absolute;
}
.top-bar {
  background-color: black;
  position: absolute;
}
.header-text {
  color: #fff;
  padding-left: 10px;
}
.body {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.content {
  width: 100%;
  max-width: 970px;
}
.page-heading {
  text-align: center;
}
.inner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.dollaricon span {
  background-color: #fff;
  border-right-color: #fff;
}
.amount {
  border-left-color: #fff;
}
.form-control {
  color: #000;
}
.input {
  margin-bottom: 1rem;
  width: 100%;
}
.calculations {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  float: right;
  padding-right: 20px;
  vertical-align: top;
}
.net-salary {
  color: limegreen;
}
.deductions {
  color: tomato;
}

.salary-card {
  background-color: #f7f7f7;
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  padding-left: 20px;
  max-width: 100%;
}
.calculation-content {
  align-items: right;
}
.answer-separator {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  margin-left: -15px;
  margin-right: 5px;
}
